/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Aumenta el ancho del contenedor */
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.form-container label {
    display: block;
    margin-bottom: 8px; /* Ajusta el margen inferior */
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 12px; /* Aumenta el padding */
    margin-bottom: 20px; /* Ajusta el margen inferior */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 12px; /* Aumenta el padding */
    background-color: #f6a20e;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #f6a20e;
}